<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Inicio</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">BANCO ACME S.A.</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-client/cuentas}">Consultar Cuentas</a></li>
				<li><a th:href="@{/rest-client/movimientos}">Consultar Movimientos</a></li>
			 <!-- 	<li><a th:href="@{/rest-client/empleados/add}">Agregar Empleado</a></li>  -->
			</ul>
		</div>
	</nav>

</body>
</html>