<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"  />
<title>Banco ACME S.A.</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">BANCO ACME S.A.</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/movimientos}">Ver Movimientos</a></li>
				<li><a th:href="@{/rest-client/cuentas}">Ver Cuentas</a></li>
			</ul>
		</div>
	</nav>
	<br/>

 <table>
 	<thead>
 		<th>ID Cuenta</th>
 		<th>Nro Cuenta</th>
 		<th>Tipo</th>
 		<th>Moneda</th>
 		<th>Saldo</th>
 	</thead>
 	<tbody th:each="cuenta: ${cuentas}">
 		<tr>
 			<td th:text= "${cuenta.idCuenta}"></td>
 			<td th:text= "${cuenta.nroCuenta}"></td>
 			<td th:text= "${cuenta.tipo}"></td>
 			<td th:text= "${cuenta.moneda}"></td>
 			<td th:text= "${cuenta.saldo}"></td>
 			<!-- <td> <a th:href="@{'/contactos/form}" >Editar</a></td> -->
 		</tr>
 	</tbody>
 </table>
 <a th:href="@{/logout}">Cerrar sesion</a>
</body>
</html>