<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Banco ACME S.A.</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">BANCO ACME S.A.</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/movimientos}">Ver Movimientos</a></li>
				<li><a th:href="@{/rest-client/cuentas}">Ver Cuentas</a></li>
			</ul>
		</div>
	</nav>
	<br/>
 <table>
 	<thead>
 		<th>Id</th>
 		<th>Fecha</th>
 		<th>Cuenta</th>
 		<th>Tipo</th>
 		<th>Monto</th>
 	</thead>
	<tbody th:each="movimiento: ${movimientos}">
 		<tr>
 			<td th:text= "${movimiento.idMovimiento}"></td>
 			<td th:text= "${movimiento.fechaHora}"></td>
 			<td th:text= "${movimiento.idCuenta}"></td>
 			<td th:text= "${movimiento.tipoMovimiento}"></td>
 			<td th:text= "${movimiento.monto}"></td>
 			
 			<!-- <td> <a th:href="@{'/contactos/form}" ></a></td>-->
 		</tr>
 	</tbody>
 </table>
 <a th:href="@{/logout}">Cerrar sesion</a>

</body>
</html>