<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Banco ACME S.A.</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">BANCO ACME S.A.</a>
			</div>
		</div>
	</nav>
	<br/>
	<span th:text="${error}"></span>
	<form th:action="@{/login}" method="post">
		<input type="text" name="username" placeholder="Username" /> 
		<input type="password" name="password" placeholder="Password" /> 
		<input type="submit" name="login" class="login login-submit" value="Acceder" /><!-- th:action="@{/movimientos} -->
	</form>
</body>
</html>